@import 'theme.scss';
@import 'highlight.scss';
@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,400italic');

.name {
  font-family: 'Averia Sans Libre';
}

h1.name {
  font-style: normal;
}

img.plain {
  border: 0;
  max-width: 30%;
}

.tool-logo {
  height: 2em;
  width: 2em;
  position: absolute;
  left: 22%;
}

.bespoke-backdrop.walter {
  background-image: url('../media/walter.gif');
  background-position: center;
  background-size: cover;
}

.bespoke-backdrop.jesse {
  background-image: url('../media/jesse-what.gif');
  background-position: center;
  background-size: cover;
}

.bespoke-backdrop.whoa {
  background-image: url('../media/whoa.gif');
  background-position: center;
  background-size: cover;
}

.bespoke-slide[data-bespoke-backdrop="walter"],
.bespoke-slide[data-bespoke-backdrop="whoa"] {
  color: $background;

  hr {
    background-color: $background;
  }
}
