$background: #fffdfa;
$blue: #07a;
$red: #dd4a68;
$orange: #e90;
$foreground: #111;
$serif: didot, times new roman, serif;
$sans-serif: gill sans, helvetica, arial, arial, sans-serif;
$monospace: prestige elite std, consolas, courier new, monospace;
$emdash: '\2014';

$hljs-comment: slategray;
$hljs-identifier: $orange;
$hljs-type: #905;
$hljs-class: #f30;
$hljs-literal: #690;
$hljs-meta: #999;
$hljs-function: $red;
$hljs-keyword: $blue;


